@tailwind base;
@tailwind components;
@tailwind utilities;

html ,
body,
:root{
  height: 100%;
}

.react-multi-carousel-list{
  display: flex;
  align-items: center;
  height: 65vh;
}


/* .react-multi-carousel-list  img{
  height: 100%;
} */ 
